img{
    height: 100%;
    width: 50px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 35px;
    padding: 0;
}
li a{
    font-size: 20px;
    font-weight: 700;
}
.navbar{
    position: sticky;
}
